html,
body {
  font-family: Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 15px;
  background-color: #eee;
}

h1 {
  color: #525454;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

hr {
  background: #D0D7D9;
  height: 2px;
  border: none;
}

#map {
  bottom:0px;
  right: 0px;
  left: 200px;
  height: 100%;
  position: absolute;
}

.info-box {
  background: #fff;
  border-right: 1px solid #999;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 179px;
}

#searchInput {
  width: 171px;
  padding: 2px;
}

#location-list {
  list-style-type: none;
  padding: 0;

}

.location-item {
  border: 1px solid #ccc;
  padding-left: 5px;
  margin-bottom: 5px;
}

img{
  height: 200px;
  width: auto;
}

#copyright {
  font-size: 8px;
  color: grey;
  text-align: right;
}

